.page
{
background: #D7CCC8;
margin: 0px;
padding: 0px;

}

.header
{
background: #E2B361;
margin-right: 0px;
margin-left: 0px;
padding: 30px;
height: 70px;
border-bottom: 2px #000 solid;

}
.header1
{
line-height: 40px;
color: #fff;
width: 500px;
margin: 0px;
letter-spacing: 1px;
margin-left: 150px;
padding-left: 60px;
}
.header1 h1
{
font-size: 55px;
letter-spacing: 2px;
margin: 0px;
}
.navigation
{
background: #424242;
margin: 0px;
border-bottom: 1px #fff solid;	
text-decoration: none;
width: auto;
height: 80px;
align-items: center;

}
.navigation .a 
{
display: inline-block;
color: #fff;
font-size: 20px;
margin: 30px;
text-decoration: none;

}
.navigation .a a
{
color: #fff;
font-size: 20px;
margin: 10px;
text-decoration: none;
}
.navigation input[type=button]
{
background: #8bc34a;
color: #ffffff;
border: none;
width: 70px;
height:32px;
font-size: 20px;
float: right;
margin: 20px;
margin-left: 5px;
}
.navigation input[type=text]
{
width: 200px;
height: 35px;
border: none;
float: right;
margin: 20px
}

.mn
{
    border-bottom: 1px #fff solid;	
text-decoration: none;
width: auto;
padding-right: 300px;
padding-left: 190px
}
.bookstore 
{
background-image: url("images/2.jpg");
margin: 0px;
height: auto;
width: auto;
border-top: 1px black solid;
}
.bookstore .book
{
background: rgba(0,0,0,0.6);
border: 1px dashed white;
width: 950px;
height: 300px;
margin: auto;

}
.bookstore .book .photo
{
border-radius: 10px;
border: 3px solid white;
width: 400px;
height: 280px;
float: left;
margin-top: 5px;
margin-left: 5px;

}
.bookstore .book .info
{
background: rgba(0,0,0,0.6) ;
border: 2px solid white;
width: 500px;
height: 280px;
float: right;
margin-top: 5px;
margin-right: 5px;
color:white;
font-size: 20px ;
padding-left:3px
}

.bookstore .book .photo img
{
width: 400px;
height: 280px;
}

img:hover
{
    transform: scale(1.09);
    border-radius: 20px;
}

button:hover
{
    transform: scale(1.1);
    border-radius: 20px;
}

.bookstore .book .info  button
{
  padding: 20px;
  border-radius : 10px;
  
}

 #myUL {
            list-style-type: none;
            padding: 0;
            margin-right:150px ;
        }

        #myUL li a
				{
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
												width:100px;
        }